.IssueListItem {
    background-color: white;
    list-style-type: none;
    padding: 12px;
    position: relative;
    max-width: 800px;
    margin: 12px auto;

    .Wrapper {
        color: black;
    }

    .AuthorBox {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .Avatar {
        margin-left: 12px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}